@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #4ade80;
  --primary-alt: #22c55e;
  --grey: #64748b;
  --dark: #1e293b;
  --dark-alt: #334155;
  --light: #f1f5f9;
  --sidebar-width: 300px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: var(--grey);
  color: var(--light);
}

.app {
  display: flex;
}

.main {
  flex: 1 1 auto;
  padding: 2rem 2rem 2rem calc(4rem + 36px);
}

.reset__button {
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: none;
}

ul {
  list-style: none;
}